  /* footer */
  footer {
    background-color: $color-footer;
    position: fixed;
    bottom: 0;
  }
  .facebook{
    color: blue;
  }
  .youtube{
    color: red;
  }
  .instagram{
    color: rgb(161, 23, 64);
  }
